/**
@param $r-bs:
	*border-box: В размеры блока входят padding и border
	content-box: В размеры блока не входят margin, padding и border
	padding-box: В размеры блока входит только padding
	inherit: Наследует значение родителя.
@param $r-offset:
	*true: Применен сброс отступов
	false: Не применяем сброс отступов
*/
r-i($r-bs = border-box)
	r-offset()
	r-bs($r-bs)
	display inline